/*General page styling is here*/
/*Body styling is here*/
/*CSS Reset */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of CSS Reset*/



/*Container styling begins here*/
.container
{
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px)
{
	.container
	{
		width: 750px;
  	}
}
@media (min-width: 992px)
{
	.container
  	{
		width: 970px;
	}
}
@media (min-width: 1200px)
{
	.container
	{
		width: 1170px;
	}
}


.arrow
{
	
	width: 40px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left:-20px;
	z-index: 0;
}

.bounce
{
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/*#particles-js
{
	position: absolute !important;
}*/

/*Media Queries for smaller phones e.g Nokia or old blackberry phones*/
@media screen and (min-width: 0px) and (max-width: 299px)
{
	html
	{
		display:none;
	}
	
}

/*Media Queries for smart phones and phablets eg iphone 8 & Iphone 8 plus*/
@media screen and (min-width: 300px) and (max-width: 374px)
{
		body
		{

		}
		/*Navigation sevtion here*/
		.nav
		{
			width: 100%;
			border-bottom: 2px solid #000000;
	    	position: fixed;
			/*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);*/
		}
		/*Left navigation section here*/
		.left-nav p
		{
			font-family: 'Product Sans';
			color: #000000;
			font-size: 20px;
		}

		/*Footer section*/
		.footer
		{
			right: 0;
			left: 0;
			float: center;
			text-align: center;
			padding: 10px;
		}

		.social-buttons div span
		{
			display: inline;
			list-style-type: none;
		}

		.social-buttons div span a img
		{
			width: 20px;
			margin-left: auto;
			margin-right: auto;
			padding: 20px;
			transition: all 0.3s ease-in;
		}
		.footer p
		{
			padding: 10px;
			color: #000000;
			letter-spacing: 2px;
			font-family: monospace;
			font-size: 10px;
		}
}


/*Media Queries for devices slightly larger than tablets but not laptops or desktops e.g iPad Pro*/
@media screen and (min-width: 375px) and (max-width: 959px)
{
	body
	{

	}
	/*Navigation sevtion here*/
	.nav
	{
		width: 100%;
		border-bottom: 2px solid #000000;
    	position: fixed;
		/*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);*/
	}
	/*Left navigation section here*/
	.left-nav p
	{
		text-align: center;
		font-family: 'Product Sans';
		color: #000000;
		font-size: 30px;
	}

	.introduction
	{
		padding: 20px;
		text-align: center;
	}

	.introduction h1
	{
		font-family: 'Helvetica Neue';
		font-size: 20px;
		padding-top: 50px;
	}

	.introduction p
	{
		font-family: 'Open Sans';
		padding: 5px;
	}
	.introduction img
	{
		text-align: center;
		width: 60%;
	}
	/*Footer section*/
	.footer
	{
		right: 0;
		left: 0;
		float: center;
		text-align: center;
		padding: 10px;
	}

	.social-buttons div span
	{
		display: inline;
		list-style-type: none;
	}

	.social-buttons div span a img
	{
		width: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		transition: all 0.3s ease-in;
	}
	.footer p
	{
		padding: 1px;
		color: #000000;
		letter-spacing: 2px;
		font-family: monospace;
		font-size: 10px;
	}
}


/*Media Queries for very large screens Such as laptops*/
@media screen and (min-width: 960px)
{
	body
	{
		
	}
	/*Navigation sevtion here*/
	.nav
	{
		
		width: 100%;
		border-bottom: 5px solid #000000;
    	position: fixed;
		/*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);*/
	}
	/*Left navigation section here*/
	.left-nav p
	{
		font-family: 'Product Sans';
		color: #000000;
		font-size: 20px;
	}

	.introduction
	{	
		/* Rectangle: */
		background-image: linear-gradient(25deg, #FFFFFF 45%, rgba(237,237,237,.5) 55%);
		padding-top: 100px;
		height: 500px;
	}

	.left-intro
	{
		width: 50%;
		float: left;
	}

	.right-intro
	{
		width: 50%;
		text-align: right;
		float: right;
	}

	.introduction h1
	{
		font-family: 'Helvetica Neue';
		font-size: 20px;
		padding-top: 50px;
	}

	.introduction p
	{
		font-family: 'Open Sans';
	}
	.introduction img
	{
		text-align: center;
		width: 80%;
	}


	/*Services*/
	.services h1
	{
		font-family: 'Lato';
		font-weight: bold;
	}

	.services p
	{
		font-family: 'Open Sans';
	}

	/*First service styling*/
	.first-service
	{
		height: 200px;
	}

	.first-service .left
	{
		float: left;
		width: 50%;
	}
	.first-service .right
	{
		float: right;
		width: 50%;
	}

	/*Second service styling*/
	.second-service
	{
		height: 200px;
	}
	.second-service .left
	{
		float: left;
		width: 50%;
	}
	.second-service .right
	{
		float: right;
		width: 50%;
	}

	/*Third service styling*/
	.third-service
	{
		height: 200px;
	}
	.third-service .left
	{
		float: left;
		width: 50%;
	}
	.third-service .right
	{
		float: right;
		width: 50%;
	}
	


	/*Footer section*/
	.footer
	{
		right: 0;
		left: 0;
		float: center;
		text-align: center;
		padding: 10px;
	}

	.social-buttons div span
	{
		display: inline;
		list-style-type: none;
	}

	.social-buttons div span a img
	{
		width: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 15px;
		transition: all 0.3s ease-in;
		filter: grayscale(1);
	}

	.social-buttons div span a img:hover
	{
		margin-bottom: 5px;
		filter: grayscale(0);
	}
	.footer p
	{
		padding: 5px;
		color: #000000;
		letter-spacing: 2px;
		font-family: 'Product Sans';
		font-size: 15px;
	}
}




















